@use "header";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@mixin font($weight: 500) {
    font-family: 'Montserrat', sans-serif;
    font-weight: $weight;
}

$gradient: linear-gradient(to right, rgb(99, 189, 252), rgb(132, 145, 255));
$h1-font: 50pt;
$h2-font: 30pt;

* {
    margin: 0;
    padding: 0;
    @include font();
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background-color: turquoise;
}

.side-bar {
    width: 5%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .fab {
        font-size: 20pt;
        margin-bottom: 15pt;

        &:hover {
            cursor: pointer;
        }
    }
}

.first-section {
    height: 100vh;

    .top {
        background: linear-gradient(to right, rgb(99, 189, 252), rgb(132, 145, 255));
        height: 80%;

        display: flex;
        justify-content: center;
        align-items: center;

        .user-img {
            width: 200pt;
            align-self: center;
            border: solid;
            border-color: aquamarine;
            border-radius: 100pt;
        }
    }

    .bottom {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .down-button {
            width: 50pt;
            height: 50pt;
            background: $gradient;
            border-radius: 15pt;
            border: none;
            
            &:hover {
                width: 55pt;
                height: 55pt;
                cursor: pointer;
            }

            .fas {
                font-size: 20pt;
                color: white;
            }
        }
    }
}

.second-section {
    height: 100vh;

    .heading {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            padding-top: 20pt;
            font-size: $h1-font;
            font-weight: bold;
        }
    }

    .container {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;

        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25%;
            width: 40%;
            border-radius: 15px;
            border: solid;
            border-color: black;
            margin: 10pt 10pt 10pt 10pt;
            transition-duration: 0.3s;
        
            &:hover {
                background: $gradient;
                border: none;
                height: 26%;
                width: 41%;
    
                h2 {
                    color: white;
                }
            }
        }
    }
}

.third-section {
    height: 100vh;
    .top {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column

        h1 {
            font-size: $h1-font;
        }

        h2 {
            font-size: $h2-font;
        }
    }
    .bottom {
        height: 50%;
    }
}

.user-img {
    align-items: center;
}

