@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@use "header";
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  color: white;
  background-color: turquoise;
}

::selection {
  color: white;
  background-color: turquoise;
}

.side-bar {
  width: 5%;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.side-bar .fab {
  font-size: 20pt;
  margin-bottom: 15pt;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: black;
}

.side-bar .fab:hover {
  cursor: pointer;
  font-size: 23pt;
}

.first-section {
  height: 100vh;
}

.first-section .top {
  background: -webkit-gradient(linear, left top, right top, from(#63bdfc), to(#8491ff));
  background: linear-gradient(to right, #63bdfc, #8491ff);
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 5em;
          column-gap: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-section .top .user-img {
  width: 200pt;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: solid;
  border-color: aquamarine;
  border-radius: 100pt;
  margin-bottom: 20pt;
}

.first-section .top h1 {
  margin-top: 20pt;
  color: white;
  font-size: 60pt;
}

.first-section .bottom {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-section .bottom .down-button {
  width: 50pt;
  height: 50pt;
  background: -webkit-gradient(linear, left top, right top, from(#63bdfc), to(#8491ff));
  background: linear-gradient(to right, #63bdfc, #8491ff);
  border-radius: 15pt;
  border: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.first-section .bottom .down-button:hover {
  width: 55pt;
  height: 55pt;
  cursor: pointer;
}

.first-section .bottom .down-button .fas {
  font-size: 20pt;
  color: white;
}

.second-section {
  height: 100vh;
}

.second-section .heading {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-section .heading h1 {
  background: -webkit-gradient(linear, left top, right top, from(#63bdfc), to(#8491ff));
  background: linear-gradient(to right, #63bdfc, #8491ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-top: 20pt;
  font-size: 50pt;
  font-weight: bold;
}

.second-section .container {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.second-section .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25%;
  width: 40%;
  border-radius: 15px;
  border: solid;
  border-color: black;
  margin: 10pt 10pt 10pt 10pt;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.second-section .container .card:hover {
  background: -webkit-gradient(linear, left top, right top, from(#63bdfc), to(#8491ff));
  background: linear-gradient(to right, #63bdfc, #8491ff);
  border: none;
  height: 26%;
  width: 41%;
}

.second-section .container .card:hover h2 {
  color: white;
}

.third-section {
  height: 100vh;
}

.third-section .top {
  background: -webkit-gradient(linear, left top, right top, from(#63bdfc), to(#8491ff));
  background: linear-gradient(to right, #63bdfc, #8491ff);
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-section .top .fact-heading {
  color: white;
  font-size: 50pt;
}

.third-section .top h2 {
  color: white;
  font-size: 30pt;
}

.third-section .bottom {
  height: 50%;
}
/*# sourceMappingURL=styles.css.map */