@use "header";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@mixin font($weight: 500) {
    font-family: 'Montserrat', sans-serif;
    font-weight: $weight;
}

$gradient: linear-gradient(to right, rgb(99, 189, 252), rgb(132, 145, 255));
$h1-font: 50pt;
$h2-font: 30pt;

// Light theme
:root {
    --primary-color: white;
    --text-color: black;
    --secondary-text-color: white;
}
 
// Dark theme
[theme="dark"] {
    --primary-color: black;
    --text-color: white;
    --secondary-text-color: black;
}
 
* {
    margin: 0;
    padding: 0;
    @include font();
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background-color: turquoise;
}

.theme-slider-container {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    top: 7pt;
    right: 10pt;
    height: 25pt;
    z-index: 2;

    .theme-slider-label {
        input {
            display: none;
        }
        position: fixed;
        width: 45pt;
        height: 25pt;
    }
    
    .slider {
        background-color: black;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;

        &, &::before {
            border-radius: 15pt;
        }

        &::before {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            bottom: 4px;
            left: 4px;
            height: 26px;
            width: 26px;
            position: absolute;
            transition: ease-in-out 0.5s;
        }
    }
    
    #checkbox:checked  {
        & + .slider{
            background-color: rgb(95, 186, 255);
        }

        & + .slider:before {
            transform: translateX(26px);
        }
    }
}

.side-bar {
    width: 40pt;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-out 0.3s;
    z-index: 1;

    a {
        color: transparent;
    }

    .fab {
        font-size: 20pt;
        margin-bottom: 10pt;
        margin-top: 10pt;
        transition-duration: 0.3s;
        background-color: white;
        background: rgb(43, 43, 43);
        color: white;
        height: 30pt;
        width: 30pt;
        border-radius: 15pt;
        display: flex;
        align-items: center;
        align-content: center;
        align-self: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            font-size: 23pt;
            height: 32pt;
            width: 32pt;
            border-radius: 16pt;
        }
    }
}

.first-section {
    height: 100vh;

    .top {
        background: linear-gradient(to right, rgb(99, 189, 252), rgb(132, 145, 255));
        height: 80%;

        display: flex;
        flex-direction: column;
        column-gap: 5em;
        justify-content: center;
        align-items: center;

        .user-img {
            width: 200pt;
            align-self: center;
            border: solid;
            border-color: aquamarine;
            border-radius: 100pt;
            margin-bottom: 20pt;
        }

        h1 {
            text-align: center;
            margin-top: 20pt;
            color: var(--secondary-text-color);
            font-size: 60pt;
            transition-duration: 0.5s;
        
            &:hover {
                transform: rotateZ(2deg);
            }
        }
    }

    .bottom {
        height: 20%;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.5s;
        
        .down-button {
            width: 50pt;
            height: 50pt;
            background: $gradient;
            border-radius: 15pt;
            border: none;
            transition-duration: 0.3s;
            
            &:hover {
                width: 55pt;
                height: 55pt;
                cursor: pointer;
            }

            .fas {
                font-size: 20pt;
                color: var(--secondary-text-color);
                transition-duration: 0.5s;
            }
        }
    }
}

.second-section {
    height: 100vh;
    background-color: var(--primary-color);
    transition-duration: 0.5s;

    .heading {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            background: $gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            padding-top: 20pt;
            font-size: $h1-font;
            font-weight: bold;
        }
    }

    .container {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 25%;
            width: 40%;
            border-radius: 15px;
            border: solid;
            border-color: var(--text-color);
            color: var(--text-color);
            margin: 10pt 10pt 10pt 10pt;
            padding: 0pt 0pt 0pt 0pt;
            transition-duration: 0.3s;

            .card-title-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 30%;
                padding-left: 10pt;
                font-size: 20pt;
            }
        
            &:hover {
                background: $gradient;
                border: none;
                transform: scale(1.04);
    
                h2 {
                    color: var(--secondary-text-color);
                }
            }
        }
    }
}

.third-section {
    height: 100vh;

    .top {
        background: $gradient;
        
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .fact-heading {
            color: var(--secondary-text-color);
            font-size: $h1-font;
            text-align: center;
            margin-bottom: 15pt;
            transition-duration: 0.5s;
        }

        .today-fact-text {
            margin-left: 10%;
            margin-right: 10%;
            text-align: center;
            color: var(--secondary-text-color);
            font-size: $h2-font;
            transition-duration: 0.5s;
        }
    }

    .bottom {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        transition-duration: 0.5s;

        .top-half {
            display: flex;
            align-items: center;
            justify-content: center;
            .fact-heading {
                color: var(--text-color);
                font-size: $h1-font;
                text-align: center;
                transition-duration: 0.5s;
                margin-right: 10pt;
                margin-bottom: 15pt;
            }

            .get-fact {
                display: flex;
                align-items: center;
                justify-content: center;
                background: $gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: center;
                margin-left: 10pt;
                font-size: $h1-font;
                font-weight: bold;
                border: none;
                cursor: pointer;
                transition-duration: 0.3s;
                margin-bottom: 15pt;

                &:hover {
                    font-size: $h1-font + 10pt;
                }
            }
        }

        .bottom-half {
            .random-fact-text {
                margin-left: 10%;
                margin-right: 10%;
                text-align: center;
                color: var(--text-color);
                font-size: $h2-font;
                transition-duration: 0.5s;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .side-bar {
        // display: none;
        width: 100%;
        height: 40pt;
        position: absolute;
        display: flex;
        flex-direction: row;
        z-index: 1;

        .fab {
            margin-right: 5pt;
            margin-left: 5pt;
        }
    }

    .first-section {
        .top {
            h1 {
                margin-left: 10%;
                margin-right: 10%;
                font-size: 40pt;
            }
        }
    }

    .third-section {
        .top {
            .fact-heading {
                margin-left: 10%;
                margin-right: 10%;
                font-size: 30pt;
            }
            .today-fact-text {
                font-size: 20pt;
            }
        }

        .bottom {
            .top-half {
                .fact-heading {
                    font-size: 30pt;
                }
                .get-fact {
                    font-size: $h2-font;

                    &:hover {
                        font-size: $h2-font + 10pt;
                    }
                }
            }

            .bottom-half {
                .random-fact-text {
                    font-size: 20pt;
                }
            }
        }
    }
}