@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
:root {
  --primary-color: white;
  --text-color: black;
  --secondary-text-color: white;
}

[theme="dark"] {
  --primary-color: black;
  --text-color: white;
  --secondary-text-color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

*::-moz-selection {
  color: white;
  background-color: #34e7d5;
}

*::selection {
  color: white;
  background-color: #34e7d5;
}

.theme-slider-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.theme-slider-container .theme-slider-label {
  width: 4rem;
  height: 2rem;
}

.theme-slider-container .theme-slider-label #checkbox {
  display: none;
}

.theme-slider-container .slider {
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.theme-slider-container .slider, .theme-slider-container .slider::before {
  border-radius: 1rem;
}

.theme-slider-container .slider::before {
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0.25rem;
  left: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  -webkit-transition: inherit;
  transition: inherit;
}

.theme-slider-container #checkbox:checked + .slider {
  background-color: #5fbaff;
}

.theme-slider-container #checkbox:checked + .slider:before {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

@media screen and (max-width: 900px) {
  .theme-slider-container {
    margin-right: 1rem;
  }
}

.side-bar {
  width: 4rem;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-bar .fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: var(--text-color);
  background-color: var(--primary-color);
  text-decoration: none;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 1.3rem;
}

.side-bar .fab:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  .side-bar {
    width: 100%;
    height: 4rem;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 1rem;
    left: 1rem;
    z-index: 1;
  }
}

.first-section {
  height: 100vh;
}

.first-section .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#63bdfc), to(#8491ff));
  background: linear-gradient(to right, #63bdfc, #8491ff);
  height: 80%;
}

.first-section .top .user-img {
  width: 16rem;
  border: solid;
  border-color: aquamarine;
  border-radius: 8rem;
  margin-bottom: 2rem;
}

@media screen and (max-height: 700px) {
  .first-section .top .user-img {
    width: 12rem;
    margin-bottom: 0;
  }
}

.first-section .top h1 {
  text-align: center;
  margin-top: 2rem;
  color: var(--secondary-text-color);
  font-size: 5rem;
}

.first-section .top h1:hover, .first-section .top h1:focus {
  -webkit-transform: rotateZ(2deg);
          transform: rotateZ(2deg);
}

.first-section .bottom {
  height: 20%;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-section .bottom .down-button {
  width: 5rem;
  height: 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#63bdfc), to(#8491ff));
  background: linear-gradient(to right, #63bdfc, #8491ff);
  border: none;
  border-radius: 1.5rem;
}

.first-section .bottom .down-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.first-section .bottom .down-button .fas {
  font-size: 2rem;
  color: var(--secondary-text-color);
}

.second-section {
  height: 100vh;
  background-color: var(--primary-color);
  font-size: 3rem;
}

.second-section .top, .second-section .bottom {
  padding-left: 5rem;
  padding-right: 5rem;
}

.second-section .top {
  height: 50%;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-section .top .heading {
  font-size: 4rem;
  padding-bottom: 3rem;
  text-align: center;
}

.second-section .top .lang-icon-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  row-gap: 2rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  -ms-grid-row-align: center;
      align-self: center;
}

.second-section .bottom {
  height: 50%;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-section .bottom .heading {
  font-size: 4rem;
  padding-bottom: 3rem;
  text-align: center;
}

.second-section .bottom .tool-icon-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  row-gap: 2rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  -ms-grid-row-align: center;
      align-self: center;
}

.third-section {
  height: 100vh;
  background-color: var(--primary-color);
}

.third-section .heading {
  background: -webkit-gradient(linear, left top, right top, from(#63bdfc), to(#8491ff));
  background: linear-gradient(to right, #63bdfc, #8491ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-top: 1rem;
  font-size: 4rem;
  font-weight: bold;
}

.third-section .container {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.third-section .container a {
  color: transparent;
  height: 25%;
  width: 40%;
  margin: 10pt 10pt 10pt 10pt;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.third-section .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  border-color: var(--text-color);
  color: var(--text-color);
  border: solid;
  border-radius: 15px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.third-section .container .card .card-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30%;
  padding-left: 15pt;
}

.third-section .container .card .card-title-container .logo {
  font-size: 25pt;
}

.third-section .container .card .card-title-container .card-title {
  font-size: 20pt;
  font-weight: bold;
  padding-left: 10pt;
}

.third-section .container .card .card-desc {
  font-size: 15pt;
  width: 100%;
  height: 50%;
  padding-left: 15pt;
}

.third-section .container .card .card-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10pt;
}

.third-section .container .card .card-bottom-container .card-lang, .third-section .container .card .card-bottom-container .card-stars-container, .third-section .container .card .card-bottom-container .card-forks-container {
  font-size: 15pt;
  width: 20%;
}

.third-section .container .card .card-bottom-container .card-lang:hover, .third-section .container .card .card-bottom-container .card-stars-container:hover, .third-section .container .card .card-bottom-container .card-forks-container:hover {
  color: black;
}

.third-section .container .card .card-bottom-container .card-lang {
  padding-left: 15pt;
}

.third-section .container .card .card-bottom-container .card-stars-container {
  text-align: center;
}

.third-section .container .card .card-bottom-container .card-forks-container {
  text-align: end;
  padding-right: 15pt;
}

.third-section .container .card:hover {
  background: -webkit-gradient(linear, left top, right top, from(#63bdfc), to(#8491ff));
  background: linear-gradient(to right, #63bdfc, #8491ff);
  border: none;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.third-section .container .card:hover h2 {
  color: var(--secondary-text-color);
}

.fourth-section {
  height: 100vh;
}

.fourth-section .top {
  background: -webkit-gradient(linear, left top, right top, from(#63bdfc), to(#8491ff));
  background: linear-gradient(to right, #63bdfc, #8491ff);
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourth-section .top .fact-heading {
  color: var(--secondary-text-color);
  font-size: 4rem;
  text-align: center;
  margin-bottom: 15pt;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.fourth-section .top .today-fact-text {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 3rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.fourth-section .bottom {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primary-color);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.fourth-section .bottom .top-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourth-section .bottom .top-half .fact-heading {
  color: var(--text-color);
  font-size: 4rem;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-right: 10pt;
  margin-bottom: 15pt;
}

.fourth-section .bottom .top-half .get-fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#63bdfc), to(#8491ff));
  background: linear-gradient(to right, #63bdfc, #8491ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-left: 10pt;
  font-size: 4rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin-bottom: 15pt;
}

.fourth-section .bottom .top-half .get-fact:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fourth-section .bottom .bottom-half .random-fact-text {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: var(--text-color);
  font-size: 3rem;
}

@media screen and (max-height: 700px), (max-width: 900px) {
  .fourth-section .top .fact-heading {
    font-size: 3rem;
  }
  .fourth-section .top .today-fact-text {
    font-size: 2rem;
  }
  .fourth-section .bottom .top-half .fact-heading, .fourth-section .bottom .top-half .get-fact {
    font-size: 3rem;
  }
  .fourth-section .bottom .bottom-half .random-fact-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .first-section .top h1 {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 40pt;
  }
  .third-section .top .fact-heading {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30pt;
  }
  .third-section .top .today-fact-text {
    font-size: 20pt;
  }
  .third-section .bottom .top-half .fact-heading {
    font-size: 30pt;
  }
  .third-section .bottom .top-half .get-fact {
    font-size: 4rem;
  }
  .third-section .bottom .top-half .get-fact:hover {
    font-size: 5rem;
  }
  .third-section .bottom .bottom-half .random-fact-text {
    font-size: 20pt;
  }
}
/*# sourceMappingURL=styles.css.map */