@use "header";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@mixin font($weight: 500) {
    font-family: 'Montserrat', sans-serif;
    font-weight: $weight;
}

$gradient: linear-gradient(to right, rgb(99, 189, 252), rgb(132, 145, 255));

* {
    margin: 0;
    padding: 0;
    @include font();
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background-color: turquoise;
}

nav {
    background-color: transparent;
    height: 50pt;
    display: flex;
    position: sticky;

    button {
        position: sticky;
    }
}

.first-section {
    height: 100vh;

    .top {
        background: linear-gradient(to right, rgb(99, 189, 252), rgb(132, 145, 255));
        height: 80%;

        display: flex;
        justify-content: center;
        align-items: center;

        .user-img {
            width: 200pt;
            align-self: center;
            border: solid;
            border-color: aquamarine;
            border-radius: 100pt;
        }
    }

    .bottom {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        .down-button {
            width: 30pt;
            height: 30pt;
            background: $gradient;
            border-radius: 15pt;
            border: none;
        }
    }
}

.second-section {
    height: 100vh;

    .heading {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            padding-top: 20pt;
            font-size: 50pt;
            font-weight: bold;
        }
    }

    .container {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;

        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30%;
            width: 40%;
            border-radius: 15px;
            border: solid;
            border-color: black;
            margin: 10pt 10pt 10pt 10pt;
            transition-duration: 0.3s;
        }

        .card:hover {
            background: $gradient;
            border: none;
            height: 31%;
            width: 41%;

            h2 {
                color: white;
            }
        }
    }
}

.user-img {
    align-items: center;
}

