@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@mixin font() {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

// Variables
$gradient: linear-gradient(to right, rgb(99, 189, 252), rgb(132, 145, 255));
$h1-font: 5rem;
$h2-font: 4rem;
$h3-font: 3rem;
$h4-font: 2rem;
$h5-font: 1rem;

// Light theme
:root {
    --primary-color: white;
    --text-color: black;
    --secondary-text-color: white;
}
 
// Dark theme
[theme="dark"] {
    --primary-color: black;
    --text-color: white;
    --secondary-text-color: black;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition-duration: 0.5s;
    @include font();

    &::selection {
        color: white;
        background-color: rgb(52, 231, 213);
    }
}

.theme-slider-container {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    top: 1rem;
    right: 1rem;
    z-index: 2;

    .theme-slider-label {
        width: 4rem;
        height: 2rem;

        #checkbox {
            display: none;
        }
    }
    
    .slider {
        background-color: black;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;

        &, &::before {
            border-radius: 1rem;
        }

        &::before {
            color: white;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0.25rem;
            left: 0.25rem;
            height: 1.5rem;
            width: 1.5rem;
            transition: inherit;
        }
    }
    
    #checkbox:checked  {
        & + .slider{
            background-color: rgb(95, 186, 255);
        }

        & + .slider:before {
            transform: translateX(2rem);
        }
    }
}

@media screen and (max-width: 900px) {
    .theme-slider-container {
        margin-right: 1rem;
    }
}

.side-bar {
    width: 4rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .fab {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        column-gap: 1rem;
        margin-bottom: 0.7rem;
        margin-top: 0.7rem;
        transition-duration: 0.3s;
        color: var(--text-color);
        background-color: var(--primary-color);
        text-decoration: none;
        height: 2.6rem;
        width: 2.6rem;
        border-radius: 1.3rem;

        &:hover {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 900px) {
    .side-bar {
        width: 100%;
        height: 4rem;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content:start;
        gap: 1rem;
        left: 1rem;
        z-index: 1;
    }
}

.first-section {
    height: 100vh;

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgb(99, 189, 252), rgb(132, 145, 255));
        height: 80%;

        .user-img {
            width: 16rem;
            border: solid;
            border-color: aquamarine;
            border-radius: 8rem;
            margin-bottom: 2rem;
        }

        @media screen and (max-height: 700px) {
            .user-img {
                width: 12rem;
                margin-bottom: 0;
            }
        }

        h1 {
            text-align: center;
            margin-top: 2rem;
            color: var(--secondary-text-color);
            font-size: $h1-font;
        
            &:hover, &:focus {
                transform: rotateZ(2deg);
            }
        }
    }

    .bottom {
        height: 20%;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        
        .down-button {
            width: 5rem;
            height: 5rem;
            background: $gradient;
            border: none;
            border-radius: 1.5rem;
            
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }

            .fas {
                font-size: 2rem;
                color: var(--secondary-text-color);
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .first-section {
        .top {
            h1 {
                margin-left: 10%;
                margin-right: 10%;
                font-size: 40pt;
            }
        }
    }
}

.second-section {
    height: 100vh;
    background-color: var(--primary-color);
    font-size: $h3-font;
    
    .top, .bottom{
        height: 50%;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5rem;
        padding-right: 5rem;

        .heading {
            font-size: $h2-font;
            padding-bottom: 3rem;
            text-align: center;
        }

        .icon-container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            row-gap: 2rem;
            column-gap: 3rem;
            align-self: center;
        }
    }
}

@media screen and (max-width: 900px) {
    .second-section {
        font-size: $h4-font + 0.1rem;

        .top, .bottom {
            padding-left: 1rem;
            padding-right: 1rem;

            .heading {
                padding-bottom: 1rem;
                font-size: $h3-font - 0.5rem;
                word-wrap: break-word;
            }

            .icon-container {
                grid-template-columns: repeat(4, 1fr);
                row-gap: 1rem;
                column-gap: 1rem;
            }
        }
    }
}

.third-section {
    height: 100vh;
    background-color: var(--primary-color);

    .heading {
        height: 20%;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $h2-font;
        font-weight: bold;
    }

    .container {
        height: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items:center;

        a {
            color: transparent;
            height: 80%;
            width: 80%;
            padding: 1rem 1rem 1rem 1rem;
            transition-duration: 0.3s;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            border-color: var(--text-color);
            color: var(--text-color);
            border: solid;
            border-radius: 1rem;
            transition-duration: 0.3s;

            .card-title-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 30%;
                padding-left: 1rem;
                gap: 1rem;

                .logo {
                    font-size: 2rem;
                }

                .card-title {
                    font-size: $h5-font + 0.7rem;
                    font-weight: bold;
                }
            }

            .card-desc {
                font-size: $h5-font + 0.2rem;
                width: 100%;
                height: 50%;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            .card-bottom-container{
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 10%;
                justify-content: space-between;
                margin-bottom: 1rem;

                .card-lang, .card-stars-container, .card-forks-container {
                    font-size: $h5-font + 0.2rem;
                    width: 20%;

                    &:hover {
                        color: black;
                    }
                }

                .card-lang {
                    padding-left: 1rem;
                }

                .card-stars-container {
                    text-align: center;
                }

                .card-forks-container {
                    text-align: end;
                    padding-right: 1rem;
                }
            }
        
            &:hover {
                background: $gradient;
                border: none;
                transform: scale(1.04);
    
                h2 {
                    color: var(--secondary-text-color);
                }
            }
        }
    }

    @media screen and (max-width: 900px) {
        .heading {
            height: 10%;
            font-size: $h3-font - 0.5rem;
        }

        .container {
            height: 90%;
            grid-template-columns: repeat(1, 1fr);
        
            a {
                height: 100%;
                width: 90%;
            }

            .card {
                height: 100%;
                width: 100%;
                border-radius: 0.5rem;
                gap: 0.3rem;
    
                .card-title-container {
                    padding-top: 0.5rem;

                    .logo {
                        font-size: 1.2rem;
                    }
    
                    .card-title {
                        font-size: $h5-font + 0.2rem;
                    }
                }
    
                .card-desc {
                    font-size: $h5-font;
                    height: 70%;
                }
    
                .card-bottom-container{
                    display: none;
                }
            }
        }
    }
}

.fourth-section {
    height: 100vh;

    .top {
        background: $gradient;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .fact-heading {
            color: var(--secondary-text-color);
            font-size: $h2-font;
            text-align: center;
            margin-bottom: 1rem;
        }

        .today-fact-text {
            margin-left: 10%;
            margin-right: 10%;
            text-align: center;
            color: var(--secondary-text-color);
            font-size: $h3-font;
        }
    }

    .bottom {
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        background-color: var(--primary-color);

        .top-half {
            display: flex;
            gap: 2rem;
            justify-content: center;

            .fact-heading {
                color: var(--text-color);
                font-size: $h2-font;
                text-align: center;
            }

            .get-fact {
                display: flex;
                align-items: center;
                background: $gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: $h2-font;
                font-weight: bold;
                border: none;
                cursor: pointer;
                transition-duration: 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .bottom-half {
            .random-fact-text {
                margin-left: 10%;
                margin-right: 10%;
                text-align: center;
                color: var(--text-color);
                font-size: $h3-font;
            }
        }
    }

    @media screen and (max-height: 700px), (max-width: 900px) {
        .top {
            .fact-heading {
                font-size: $h3-font - 0.5rem;
            }

            .today-fact-text {
                font-size: $h4-font - 0.5rem;
            }
        }

        .bottom {
            .top-half {
                gap: 0.7rem;

                .fact-heading, .get-fact {
                    font-size: $h4-font;
                }
            }
            .bottom-half {
                .random-fact-text {
                    font-size: $h4-font - 0.5rem;
                }   
            }
        }
    }
}
